<h1>Adnat</h1>
<h3>Edit Profile</h3>
<%= form_with(model: @user, local: true) do |form| %>
    <% if @user.errors.any? %>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>

    <p>
        <%= form.label :email %><br>
        <%= form.text_field :email_address %>
    </p>

    <p>
        <%= form.label :password %><br>
        <em>(6 characters minimum)</em><br>
        <%= form.text_field :password %>
    </p>

    <p>
        <%= form.submit "Save changes" %>
    </p>
<% end %>