<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<h1>Adnat</h1>
Logged in as <%= current_user.name %> <%= link_to 'Log Out', users_path %>
<br />
<h3><%= current_organization.name %></h3>
<h4>Shifts</h4>
<%= form_with scope: :shift, url: shifts_path, local: true do |form| %>
<table>
    <tr>
        <th>Employee name</th>
        <th>Shift date</th>
        <th>Start time</th>
        <th>Finish time</th>
        <th>Break length (minutes)</th>
        <th>Hours worked</th>
        <th>Shift cost</th>
    </tr>

    <% @shifts.each do |shift| %>
        <tr>
            <td><%= user_name(shift.users_id).name %></td>
            <td><%= shift.start.strftime("%d/%m/%Y") %></td>
            <td><%= shift.start.strftime("%I:%M %p") %></td>
            <td><%= shift.finish.strftime("%I:%M %p") %></td>
            <td><%= shift.break_length %></td>
            <td><%= @hours_worked = hours_worked(shift.start, shift.finish, shift.break_length) %></td>
            <td><%= shift_cost(@hours_worked) %></td>
        </tr>
    <% end %>

    <tr>
        <td><%= current_user.name %></td>       
        <td><%= form.text_field :shift_date %></td>
        <td><%= form.text_field :start_time %></td>
        <td><%= form.text_field :finish %></td>
        <td><%= form.text_field :break_length %></td>
        <td><%= form.submit :Create %></td>
    </tr>
</table>
<% end %>