<h1>Adnat</h1>
Logged in as <%= current_user.name %> <%= link_to 'Log Out', users_path %>
<br />
<h3>Edit Organization</h3>
<%= form_with(model: @organization, local: true) do |form| %>
    <p>
        <%= form.label :name %>:
        <%= form.text_field :name %>
    </p>

    <p>
        <%= form.label :hourly_rate %>:
        $<%= form.text_field :hourly_rate %>
    </p>
    
    <p>
        <%= form.submit :Update %>
    </p>
<% end %>
<%= link_to 'Delete', organization_path(@organization), method: :delete, data: { confirm: 'Are you sure?' } %>