<h1>Adnat</h1>
Logged in as <%= session[:current_user] %> <%= link_to 'Log Out', users_path %>
<br />
<h3>Organizations</h3>
<ul>
    <% @organizations.each do |organization| %>
        <li><%= organization.name %>
            <%= link_to 'Edit', edit_organization_path(organization) %>
            <%= link_to 'Join', organization_path(organization) %></li>
    <% end %>
</ul>
<br />
<h3>Create Organization</h3>
<%= form_with scope: :organization, url: organizations_path, local: true do |form| %>
    <p>
        <%= form.label :name %>:
        <%= form.text_field :name %>
    </p>

    <p>
        <%= form.label :hourly_rate %>:
        $<%= form.text_field :hourly_rate %>
    </p>
    
    <p>
        <%= form.submit :Create_and_Join%>
    </p>
<% end %>